{% extends 'base.html' %} {% block content %}
<div class="table-container">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h4 class="m-0">Welcome {{request.user.username}}</h4>
    <div class="button-group d-flex">
      <a href="/download_csv" class="btn btn-primary d-flex align-items-center"
        ><i class="bi bi-download"></i>&nbsp;<span>Download CSV</span></a
      >
      &nbsp;&nbsp;&nbsp;
      <a href="/upload_csv" class="btn btn-secondary d-flex align-items-center"
        ><i class="bi bi-upload"></i>&nbsp;<span>Upload CSV</span></a
      >
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Stack</th>
      </tr>
    </thead>
    {% for x in csv %}
    <tbody>
      <tr>
        <td>{{x.first_name}}</td>
        <td>{{x.last_name}}</td>
        <td>{{x.email}}</td>
        <td>{{x.phone_number}}</td>
        <td>{{x.track}}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
{% endblock %}
