{% load static %}
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top bg-dark">
  <div class="container pt-0">
    <!-- navbar brand / title -->
    <a class="navbar-brand" href="{% url 'home_page' %}">
      <img
        src="{% static 'images/logo.png' %}"
        alt="Quelea2"
        style="width: 100px"
      />
    </a>

    <!-- toggle button for mobile nav -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main-nav"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- navbar links -->
    <div
      class="collapse navbar-collapse justify-content-end align-center"
      id="main-nav"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link text-light ms-lg-3 ms-0"
            href="{% url 'home_page' %}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light ms-lg-3 ms-0"
            href="{% url 'about_page' %}"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light ms-lg-3 ms-0"
            href="{% url 'documentation_page' %}"
            >Documentation</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-light ms-lg-3 ms-0"
            href="{% url 'contact_page' %}"
            >Contact</a
          >
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a
            class="nav-link text-light ms-lg-3 ms-0"
            href="{% url 'view_csv_page' %}"
            >CSV</a
          >
        </li>
        {% endif %}
        <li class="nav-item d-lg-none d-flex">
          {% if request.user.is_authenticated %}
          <a
            class="nav-link btn btn-primary px-3"
            href="{% url 'profile_page' %}"
            >Profile</a
          >
          <a
            class="nav-link btn btn-primary px-3 ms-2"
            href="{% url 'logout_page' %}"
            >Logout</a
          >
          {% else %}
          <a class="nav-link btn btn-primary px-3" href="{% url 'login_page' %}"
            >Login</a
          >
          <a
            class="nav-link btn btn-primary px-3 ms-2"
            href="{% url 'register_page' %}"
            >Regiser</a
          >
          {% endif %}
        </li>

        {% if request.user.is_authenticated %}
        <li class="nav-item ms-2 d-none d-lg-inline" id="toggleshow">
          <a class="btn btn-primary" href="{% url 'profile_page' %}">Profile</a>
        </li>
        <li class="nav-item ms-2 d-none d-lg-inline" id="toggleshow">
          <a class="btn btn-primary" href="{% url 'logout_page' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item ms-2 d-none d-lg-inline" id="toggleshow">
          <a class="btn btn-primary" href="{% url 'login_page' %}">Login</a>
        </li>
        <li class="nav-item ms-2 d-none d-lg-inline" id="toggleshow">
          <a class="btn btn-primary" href="{% url 'register_page' %}"
            >Regiser</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
