<div class="side-bar">
  <ul>
    <li style="font-weight: bolder">Welcome</li>
    <li><a href="#overview" style="font-weight: bolder">Overview</a></li>
    <li>
      <a href="#getting-started" style="font-weight: bolder">Getting Started</a>
    </li>
    <li>
      <a href="#comparisons" style="font-weight: bolder">Comparisons</a>
      <ul class="nestedlist">
        <li><a href="#simple-example">Simple Example</a></li>
        <li><a href="#creating-comparison">Creating Comparisons</a></li>
        <li><a href="#interpreting-response">Interpreting the response</a></li>
        <li><a href="#finishing-up">Finishing up</a></li>
      </ul>
    </li>
    <li>
      <a href="#security-auth" style="font-weight: bolder"
        >Security and Authentication</a
      >
    </li>
  </ul>
</div>
