<style>
  body {
    font-family: "Poppins", sans-serif;
  }
  nav {
    background-color: black;
    color: white;
    padding: 0px;
  }
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px !important;
    height: 80px;
  }
  .main-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
  }
  .main-nav ul li {
    margin-left: 20px;
  }
  .main-nav a {
    color: white;
    text-decoration: none;
  }
  footer ul {
    list-style-type: none;
    padding: 0px;
  }
  .main-footer {
    display: flex;
    justify-content: space-between;
  }
  form {
    width: 500px;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
  }
  form input {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 3px;
    padding: 5px;
  }
  form textarea {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 3px;
    padding: 5px;
    height: 100px;
  }
  form button {
    display: block;
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    color: white;
    background-color: #2c8579;
    border: 1px solid #2c8578;
  }
  .errorlist {
    list-style-type: none;
    color: #ff3c3c;
    font-size: 14px;
    padding: 0px;
  }
  .side-bar {
    position: fixed;
  }
  .side-bar a {
    text-decoration: none;
    color: rgb(37, 111, 101);
  }
  .screen-img {
    width: 700px;
    margin: auto;
  }
  @media screen and (max-width: 960px) {
    .main-footer {
      display: block;
    }
    form {
      width: 100%;
    }
    .screen-img {
      width: 100%;
    }
    .table-container {
      width: 1000px;
      overflow-x: scroll;
    }
  }
</style>
